.container {
  display: flex;
  height: 100vh;
  border-top: 1px solid #333;
}

.sidebar {
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #171717;
  border-right: 1px solid #333;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.tabs {
  background-color: #181818;
  min-height: 30px;
  border-bottom: 1px solid #333;
}

.tab {
  min-height: 30px;
  font-size: 12px;
  background-color: #1f1f1f;
  border-right: 1px solid #333;
}

.editor {
  flex-grow: 1;
  background-color: #1f1f1f;
  padding: 10px;
}

.codicon {
  font-size: 24px;
  color: #fff;
}
